.movies-wrapper {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MuiCard-root {
  margin: 15px 0;
}

.filters-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}